.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.auto-complete-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.auto-complete-control .auto-complete-control-item:last-child {
    margin-left: 50px;
}