.control-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.control-buttons {
    display: flex;
    flex-direction: row;
}

.control-buttons--left {
    margin-right: auto;
}

.control-buttons--right {
    margin-left: auto;
}

.control-text {
    margin: 10px 10px;
}